@{
    Layout = null;
}

<div class="list-group">
    <a href="#" class="list-group-item active" >栏目管理</a>

    <a href="/manage/Category" class="list-group-item">查看栏目</a>
    <a href="/manage/Category/Create" class="list-group-item">添加栏目</a>

</div>